# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
config.h

# Windows Debug Symbols
*.pdb

# Local ImGui State
imgui.ini

# Script Dumps
project_dump.txt

# --- SECURITY ---
# Never commit the local user settings/API keys!
settings.json